@use 'variables';
@use 'global';


.footer {
	// Space from content.
	margin-top: 30px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: var(--black);
	color: var(--footer-link-color);

	a {
		color: var(--footer-link-color);
		&:hover {
			color: var(--footer-link-color-hover);
		}
	}
	// Reset lists.
	ul {
		@extend .ul-reset;
		padding-inline-start: 0;
	}

	&__menu-cta-wrapper {
		@media (min-width: variables.$min-desktop) {
			display: flex;
			align-items: flex-start;
			margin-bottom: 30px;
		}
	}

	&__menu {
		display: none;
		@media (min-width: variables.$min-desktop) {
			flex-shrink: 0;
			flex-grow: 1;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(125px, 200px));
			gap: 8px;
			a {
				font-size: 15px;
				font-weight: 400;
				text-decoration: none;
			}
			.top-menu-item {
				font-size: 17px;
				font-weight: 800;
				margin-top: 0;
				margin-bottom: 10px;
			}
		}
	}

	&__cta {
		@media (min-width: variables.$min-desktop) {
			flex-grow: 0;
		}
		a {
			width: 100%;
			font-size: 20px;
			@media (min-width: variables.$min-desktop) {
				width: max-content;
				margin: 0;
				margin-left: 20px;
			}
			@media (min-width: variables.$desktop-width) {
				margin-left: 40px;
			}
		}
	}

	&__logo-social-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	.logo-link {
		display: none;
		@media (min-width: variables.$min-desktop) {
			display: block;
		}
	}

	.social-links {
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 20px;
		a {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			padding: 10px;
			&:hover {
				opacity: 0.8;
			}
		}
		@media (min-width: variables.$min-desktop) {
			margin-top: 0;
		}
	}

	.copyright {
		font-size: 10px;
		line-height: 1.3;
		letter-spacing: 0.1px;
		margin-top: 0.5em;
		margin-bottom: 0.2em;
		padding: 0;
		a {
			font-weight: 700;
			text-decoration: none;
		}
		&__accessibility-git-wrapper {
			margin-top: 0.2em;
			display: flex;
			flex-direction: row;
			gap: 10px;
			align-items: center;
			justify-content: flex-start;
			a {
				font-weight: 600;
				font-size: 10px;
				& + a {
					border-left: 1px solid var(--white);
					padding-left: 8px;
				}
			}
		}
		p {
			margin: 0;
		}
		@media (min-width: variables.$min-desktop) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 0.5em;
		}
	}
	@media (min-width: variables.$min-desktop) {
		padding-top: 50px;
		padding-bottom: 30px;
		margin-top: 60px;
	}
}
