<footer class="footer">
    <div class="container wrap">


        <div class="footer__main-row" style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 3em; width: 100%; flex-wrap: wrap;">
            <div class="footer__menu-col" style="flex:1; display:flex; justify-content:flex-end; min-width:220px;">
                <div class="footer__menu" style="display: flex; justify-content: flex-end; gap: 2rem;">
                    {{ with .Site.Menus.main }}
                        {{ $homeId := cond (eq $.Site.Language.Lang "en") "home" "accueil" }}
                        {{ $homeList := where . "Identifier" $homeId }}
                        {{ if gt (len $homeList) 0 }}
                            {{ $home := index $homeList 0 }}
                            <div class="column accueil-col">
                                <p class="top-menu-item">{{ $home.Name }}</p>
                                <ul>
                                    <li class="menu-item">
                                        <a href="{{ $home.URL }}" class="menu-link">{{ $home.Name }}</a>
                                    </li>
                                </ul>
                            </div>
                        {{ end }}
                        {{ range . }}
                            {{ if and .HasChildren (ne .Identifier $homeId) }}
                                <div class="column">
                                    <p class="top-menu-item">{{ .Name }}</p>
                                    <ul>
                                        {{ range .Children }}
                                            <li class="menu-item">
                                                <a href="{{ .URL }}" class="menu-link">{{ .Name }}</a>
                                            </li>
                                        {{ end }}
                                    </ul>
                                </div>
                            {{ end }}
                        {{ end }}
                        {{ $allItems := . }}
                        {{ $noChildren := slice }}
                        {{ range $allItems }}
                          {{ if and (not .HasChildren) (ne .Identifier $homeId) }}
                            {{ $noChildren = $noChildren | append . }}
                          {{ end }}
                        {{ end }}
                        {{ if $noChildren }}
                            <div class="column no-children-links">
                                <p class="top-menu-item">&nbsp;</p>
                                <ul>
                                    {{ range $noChildren }}
                                        <li class="menu-item">
                                            <a href="{{ .URL }}" class="menu-link">{{ .Name }}</a>
                                        </li>
                                    {{ end }}
                                </ul>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            <div class="footer__contact-col" style="flex:1; display:flex; flex-direction:column; align-items:flex-end; justify-content:center; text-align:right; min-width:220px;">
                                <style>
                                @media (max-width: 900px) {
                                    .footer__main-row {
                                        flex-direction: column !important;
                                        align-items: center !important;
                                        gap: 1.2em !important;
                                    }
                                    .footer__menu-col, .footer__contact-col {
                                        justify-content: center !important;
                                        align-items: center !important;
                                        text-align: center !important;
                                        width: 100% !important;
                                        min-width: 0 !important;
                                    }
                                    .footer__contact-col {
                                        margin-top: 0.5em;
                                    }
                                }
                                </style>
                <div class="footer__contact-licence" style="margin-bottom:0.5em; font-size:1.1em;">
                    <div>
                        {{ if eq $.Site.Language.Lang "en" }}
                            Contact us: <a href="mailto:info@centreloisirsfatima.com">info@centreloisirsfatima.com</a>
                        {{ else }}
                            Nous joindre : <a href="mailto:info@centreloisirsfatima.com">info@centreloisirsfatima.com</a>
                        {{ end }}
                    </div>
                    <div style="margin-top:0.3em;">
                        {{ if eq $.Site.Language.Lang "en" }}
                            License No. RACJ: L-04015
                        {{ else }}
                            No de licence RACJ : L-04015
                        {{ end }}
                    </div>
                </div>
                <div class="footer__logo-social-wrapper" style="margin-top:0.2em;">
                    {{- partial "footer/social-links.html" . -}}
                </div>
            </div>
        </div>

        <hr class="footer-hr">

        <div class="copyright">
            <p>{{ .Site.Copyright | default "Copyright &copy; {{< current_year >}} All Rights Reserved. [Dot Org Theme](https://github.com/cncf/dot-org-hugo-theme) for Hugo by [CNCF](https://www.cncf.io)." | markdownify }}</p>

            <div class="copyright__accessibility-git-wrapper">
                {{ if .Site.Params.accessibility.help_url }}
                <a href="{{ strings.TrimPrefix "/" .Site.Params.accessibility.help_url | absURL }}" class="nowrap">{{ .Site.Params.accessibility.help_text | default
                    "Accessibility Statement" }}</a>
                {{ end }}

                {{- partial "footer/github.html" . -}}
            </div>
        </div>
    </div>
</footer>

{{/* Theme: Hover Intent */}}
{{ $js := resources.Get "js/hoverintent.min.js" }}
<script defer src="{{ $js.Permalink }}"></script>

{{/* Theme: FAQ */}}
{{ if and (eq .Type "faq") (eq .Kind "section") }}
{{ $js := resources.Get "js/accordion.js" }}
<script defer src="{{ $js.Permalink }}"></script>
<script>
    // var stickyHeader = {{ if .Site.Params.sticky_header }}true{{ else }}false{{ end }};
    // Fix: wrap in quotes to ensure valid JS assignment
    var stickyHeader = "{{ if .Site.Params.sticky_header }}true{{ else }}false{{ end }}" === "true";
  </script>
{{ end }}

{{/* Theme: Scripts */}}
{{ $js := resources.Get "js/scripts.js" }}
{{ if eq (getenv "HUGO_ENV") "production" }}
{{ $js = $js | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
{{ else }}
<script defer src="{{ $js.Permalink }}"></script>
{{ end }}

{{/* Shortcode: YouTube Enhanced */}}
{{ if .HasShortcode "youtube_enhanced" }}
{{ $js := resources.Get "js/youtube-lite.js" | resources.Minify }}
<script type="module" src="{{ $js.Permalink }}"></script>
{{ end }}

{{/* User: Custom JS */}}
{{- partial "footer/custom-js.html" . }}