{{/*
  Shortcode cell:
  - align: Alignement du contenu (optionnel: left, center, right)
  - valign: Alignement vertical (optionnel: top, middle, bottom)
  
  Utilisation:
  {{% cell %}}
  Contenu markdown, shortcodes, images, etc.
  {{% /cell %}}
*/}}

{{- $align := .Get "align" | default "left" -}}
{{- $valign := .Get "valign" | default "top" -}}

{{- /* Flexbox mapping for horizontal and vertical alignment */ -}}
{{- $justifyMap := dict "left" "flex-start" "center" "center" "right" "flex-end" -}}
{{- $alignMap := dict "top" "flex-start" "middle" "center" "bottom" "flex-end" -}}

<div class="grid-cell" style="display: flex; flex-direction: column; justify-content: {{ index $alignMap $valign }}; align-items: {{ index $justifyMap $align }}; width: 100%; height: 100%;">
  {{ .Inner }}
</div>
