{{/* Utilise ce shortcode ainsi -> {{< responsive-img src="img/photo.jpg" alt="Description" width="100%" height="80%" >}} */}}

{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $cssWidth := .Get "width" | default "" }}
{{ $cssHeight := .Get "height" | default "" }}
{{ $img := resources.Get $src }}

{{- $style := "" -}}
{{- if or $cssWidth $cssHeight -}}
  {{- $style = "style=\"" -}}
  {{- if $cssWidth -}}
    {{- $style = printf "%swidth: %s;" $style $cssWidth -}}
  {{- end -}}
  {{- if $cssHeight -}}
    {{- $style = printf "%s height: %s;" $style $cssHeight -}}
  {{- else if $cssWidth -}}
    {{- $style = printf "%s height: auto;" $style -}}
  {{- end -}}
  {{- $style = printf "%s\"" $style -}}
{{- end -}}

{{- if $img -}}
  <img src="{{ $img.RelPermalink }}" alt="{{ $alt }}"{{ if $style }} {{ $style | safeHTMLAttr }}{{ end }} loading="lazy">
{{- else -}}
  {{/* Si l'image n'est pas dans assets/, essayer avec static/ */}}
  <img src="{{ $src | relURL }}" alt="{{ $alt }}"{{ if $style }} {{ $style | safeHTMLAttr }}{{ end }} loading="lazy">
{{- end -}}