{{/* Utilise ce shortcode ainsi -> {{< responsive-img src="img/photo.jpg" alt="Description" >}} */}}

{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $width := .Get "width" | default "" }}
{{ $img := resources.Get $src }}

{{- if $img -}}
  {{- if and $width (not (strings.Contains $width "%")) -}}
    {{- $resize := replace $width "px" "" -}}
    {{- if not (or (strings.Contains $resize "x") (strings.Contains $resize "X")) -}}
      {{- $resize = printf "%sx" $resize -}}
    {{- end -}}
    {{- $resized := $img.Resize (printf "%s webp" $resize) -}}
    <img src="{{ $resized.RelPermalink }}" alt="{{ $alt }}" width="{{ $resized.Width }}" height="{{ $resized.Height }}"{{ if $width }} style="width:{{ $width }};height:auto;"{{ end }} loading="lazy">
  {{- else -}}
    {{- $webp := $img.Process "webp" -}}
    <img src="{{ $webp.RelPermalink }}" alt="{{ $alt }}"{{ if $width }} style="width:{{ $width }};height:auto;"{{ end }} loading="lazy">
  {{- end -}}
{{- else -}}
  <!-- Image not found: {{ $src }} (check that it's in assets/) -->
{{- end -}}